# Dependencies
node_modules

# Testing
coverage
*.log
/test-results/
/playwright-report/

# Production
dist
build
*.tsbuildinfo

# Misc
.DS_Store
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
*~
